<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Document Tracking
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tracking App</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content> -->


<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="speedometer-outline"></ion-icon>
      Dashboard
    </ion-tab-button>
    <ion-tab-button tab="incoming">
      <ion-icon name="arrow-back-outline"></ion-icon>
      Incoming
    </ion-tab-button>
    <ion-tab-button tab="scanner">
      <ion-icon name="scan-circle-outline"></ion-icon>
      Scan
    </ion-tab-button>
    <ion-tab-button tab="library">
      <ion-icon name="arrow-down-outline"></ion-icon>
      Received
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon name="arrow-forward-outline"></ion-icon>
      Forwarded
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
